/* Body styling */
body {
  background: #00FFFF;
  margin: 0 auto;
  max-width: 960px;
  padding: 10px 10px;  
}


/* Heading Styles */
h1 {
  font-size: 200px;
  font-weight: 100;
  line-height: .25px;
  color: #000000;
  text-shadow: 2px 5px #FF1493;	
  font-family: 'Ewert', cursive;
  text-align: center;
}


/* Game Directions */
.description {
  text-align: center;
  color: #000000;
  font-family: 'Special Elite', cursive;
  font-size: 2.25em;
  font-weight: 300;
  line-height: .25em;
  text-decoration: underline; 
  text-decoration-style: double;
  text-decoration-color: #FF1493;
 }


/* Submit Button, Columns, Questions, and Inputs */
.button-submit {
  background: #000000;
  border: 3px double #FF1493;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer; 
  display: block;
  font-family: 'Ewert', cursive;
  font-size: 60px;
  font-weight: lighter;  
  margin: 0 auto 50px;
  padding: .5em .5em; 
  text-align: center; 
}

.bucket {
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
}

.choice-bucket {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0px;
  width: 33.333333%;
}

.choice-bucket label {
  font-size: 24px;
  line-height: 1px;
  margin: 2px;
}

.choice-bucket input {
  border: 0;
  border: 3px double #FF1493;
  border-radius: 15px;
  font-family: 'Special Elite', cursive;	
  color: #FFFFFF;
  background-color: #000000;	
  font-size: 20px;
  margin: 12px;
  outline: 0;
  padding: 5px 0;
  text-align: center;
  width: 88%;  
}

.choice-bucket label ~ input {
  margin-top: 0;
}

.highlight {
  font-family: 'Special Elite', cursive;
  font-size: 24px;
  line-height: 24px;
  margin-left: 5px;
  text-align: center;
 
}



/* Answer Div */
#answers {
  font-family: 'Special Elite', cursive;	
  font-size: 24px;	
  background: #000000;
  border-style: double;
  border-color: #F000A4;
  border-radius: 15px;
  color: #FFFFFF;
  transition: 1s linear;
  line-height: 1em;
}

#answers p {
  max-width: 760px;
  margin: auto;
  padding: 20px 0;
}

#answers p span {
  font-weight: lighter;
}


.hide {
  opacity: 0;
  height: 0;
}

.show {
  opacity: 1;
  height: 100%;
}
